<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
            <i class="fas <%= iconeFAS%>"></i> <%= titre%> un compte
        </h1>
        <%- include ('./partiels/messages.ejs') %>

        <form method="POST" enctype="multipart/form-data">
            
            <div class="form-group">
                <label for="_id">_id</label>
                <input type="text" id="_id" name="_id" class="form-control" 
                    value="<%= typeof _id != 'undefined' ? _id : '' %>"
                    placeholder="non chargé" >
            </div>
            <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" id="nom" name="nom" class="form-control" 
                    value="<%= typeof nom != 'undefined' ? nom : '' %>"
                    placeholder="Entrez le nom" >
            </div>
            <div class="form-group">
                <label for="email">Courriel</label> 
                <input type="email" id="email" name="email" class="form-control" 
                    value="<%= typeof email != 'undefined' ? email : '' %>"
                    placeholder="Entrez un courriel">
            </div>
            <fieldset class="form-group">
                <div class ="row">
                    <legend class="col-form-label cols-sm-2 pt-0">Rôles</legend>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-9">
                        <div class="form-check">
                            <input type="checkbox" id="admin" name="admin" class="form-check-input" <%= typeof admin != "undefined" ? "checked" : ""; %> />
                            <label for="admin">Admin</label>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-9">
                        <div class="form-check">
                            <input type="checkbox" id="gestion" name="gestion" class="form-check-input" <%= typeof gestion != "undefined" ? "checked" : ""; %> />
                            <label for="gestion">Gestion</label>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-9">
                        <div class="form-check">
                            <input type="checkbox" id="normal" name="normal" class="form-check-input" checked disabled/>
                            <label for="gestion">Normal</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <label for="password">Mot de passe</label> 
                <input type="password" id="password" name="password" class="form-control" 
                    value="<%= typeof password != 'undefined' ? password : '' %>"
                    placeholder="Entrez un mot de passe">
            </div>
            <div class="form-group">
                <label for="password2">Confirmer le mot de passe</label> 
                <input type="password" id="password2" name="password2" class="form-control" 
                    value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                    placeholder="Confirmez le mot de passe">
            </div>
            <fieldset>
                <p>Image de profil</p>
                <% if(typeof fichierImage !== "undefined" && fichierImage != '') { %>
                    <div>
                        <img src="/images/<%= fichierImage %>" alt="Image de profil" />
                        <input type="text" id="fichierImage" name="fichierImage" value="<%= fichierImage %>" hidden="true" />
                        <button type="submit" formaction="/usagers/editer/image/<%= typeof _id != 'undefined' ? _id : '' %>" class="btn btn-secondary btn-block">modifier</button>
                        <div>
                            <button type="submit" formaction="/usagers/editer/<%= typeof _id != 'undefined' ? _id : '' %>" class="btn btn-primary btn-block">Enregistrer le compte</button>
                        </div>
                    </div>
                <% }else{ %>
                    <div class="form-group">
                        <label>Téléverser</label>
                        <input type="file" name="fichier" required />
                        
                        <% if(titre === "Modifier") { %>
                            <div>
                                <button type="submit" formaction="/usagers/editer/image/new/<%= typeof _id != 'undefined' ? _id : '' %>" class="btn btn-primary btn-block">Enregistrer les modifications</button>
                            </div>
                        <% }%>
                        <% if(titre === "Créer") { %>
                            <div>
                                <button type="submit" formaction="/usagers/ajouter" class="btn btn-primary btn-block">Enregistrer nouveau compte</button>
                            </div>
                        <% }%>
                    </div>
                <% }%>
                <% if(titre === "Supprimer") { %>
                    <div>
                        <button type="submit" formaction="/usagers/supprimer" class="btn btn-primary btn-block">Confirmer la suppression du compte</button>
                    </div>
                <% }%>
            </fieldset>
        </form>
        <p class="lead mt-4"><a href="/">Revenir à la page d'accueil</a></p>
    </div>
</div>
</div>
